body {
    color: cyan;
    background-color: black;
  }

.intro-container, .outro-container {
    background-color: blue;
}

.about-me-container {
  font-size: 20px;
}

.interest-container, .language-container, .skill-container {
  font-size: 18px;
}

.nav-bar {
  color: black;
}

.navigation-menu {
  color: aliceblue;
  background-color: black;
}

#hr {
  border-color: blue;
}
            